@font-face {
  font-family: 'Emulogic';
  src: ('res/emulogic.ttf') format('truetype'),
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    pp: #1f3b44;
    font-family: Emulogic, sans-serif;
}

#game {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#slides {
    opacity: 1;
    text-align: center;
}

.slide {
    display: grid;
    height: 80vh;
    margin: 0;
    place-items: center center;
                       
    overflow: hidden;
    font-size: 6vw;
    color: #efefef;
    background-color: #111;

    visibility: hidden;
    opacity: 0.9;

    border-radius: 0.5vw;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    position: absolute;
    box-shadow: 0 0 1vw #fff;
    padding: 1vw;
}

.slide:target {
    visibility: visible;
}

.slide img, .slide video {
    width: 100%;
    height: 100%;
}

.slide .helper {
    font-size: 1vw;
    position: absolute;
    right: 5px;
    top: 0;
}
