@font-face {
  font-family: 'Emulogic';
  src: ('res/emulogic.ttf') format('truetype'),
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1f3b44;
    font-family: Emulogic, sans-serif;
}

#game {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#slides {
    opacity: 1;
    text-align: center;
}

#container .slide {
    overflow: hidden;
    font-size: 6vw;
    color: #efefef;
    background-color: #111;
    visibility: hidden;
    border-radius: 0.5vw;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    position: absolute;
    box-shadow: 0 0 1vw #fff;
    padding: 1vw;
}
